body h1,p{ 
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

#navcor{
    background-color: #000000f6 !important;
}

#navbarNav{
    padding-left: 45rem;
}

.navbar-brand img{
    margin-left: 30px;
    width: 150px;
}

#navbarNav ul li a{
    color: #FFFFFF;
}

#navbarNav ul li a:hover{
    color: #D22727;
}

.banner{
    background-color: #EFEFEF;  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 50px;
}

 .banner .banner-foto{
    width: 50%;
    margin-left: 100px;
}

 .banner .banner-text{
    width: 40%;
    margin-left: 180px;
}

.container .banner .banner-text h1{
    width: 396px;
    height: 108px;
    font-family: 'Poppins',sans-serif; 
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #0F241D;
}

.part1{
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 30px;
}

.part1 .sobre-img{
    width: 50%;
    margin-top: 50px;
}

.part1 .sobre-text{
    width: 30%;
    padding-right: 3px;
}

.part1 .sobre-text h2{
    height: 54px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #D22727;
}

.custom-shape-divider-bottom-1683934450 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1683934450 svg {
    position: relative;
    display: block;
    width: calc(111% + 1.3px);
    height: 109px;
    background-color: #F9F9F9;
}

.custom-shape-divider-bottom-1683934450 .shape-fill {
    fill: #000000;
}

.black-container{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.black-container .container .regras .regras-text h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    padding-top: 40px;
    text-align: center;
}

#center-div{
    align-items: center;
}

.black-container .container .regras .grid .row img{
    padding-top: 20px;
    width: 380px;
}

.black-container .container .regras .grid .row .col-4 p{
    color: #B0B0B0;
    text-align: center;
}

.black-container .container .regras .grid .row .col-4 h3{
    color: #FFFFFF;
    text-align: center;
}

.container-tres{
    background-color: #F9F9F9;
    
}

.container-tres .container .depoimento .depoimento-text h2{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #0F241D;
    padding: 80px 40px;
}

#card1 {
    width: 506px;
    height: 347px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.container-tres .container .depoimento .grid .row .col-6 .card1 .col-6 .identificacao{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#disflex{
    display: flex;
    align-items:center ;
    justify-content: center;  
}

#fala{
    padding-left: 16px;
}

#center-element{
    justify-content: center;
    align-items: center;
    display: flex;
}

#border-pic{
    border-radius: 30px;
}

#padding-top{
    padding-top: 15px;
}

.container-tres .container .depoimento .grid .row .col-6 .card1 .col-6 .identificacao p{
    padding-left: 8px;
    margin-top: 14px;
}

.container-red{
    background-color: #D22727;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 180px;
}

.container-red .container .alvo .alvo-text{
    color: #FFFFFF;
    text-align: center;
    padding: 100px 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
}

.container-red .container .alvo .grid .row .col-3 .card-peso h3{
    text-align: center;
}

.container-red .container .alvo .grid .row .col-3 .card-peso img{
    margin: 40px 70px;
}

#card-peso{
    width: 248px;
    height: 225px;
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    justify-items: center;

}

#alinhar{
    text-align: center;
}

#espacob{
    margin-bottom: 2px;
}



.equipe{
    background-color: #F9F9F9;
    padding: 10PX 40PX ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipe .container .equipe-text h2{
    text-align: center;


font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 54px;
    padding: 40px 40px;
}

#black-box{
    width: 318px;
    height: 346px;
    margin: 40px 40px;
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#nome{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 54px;
color: #FFFFFF;
text-align: center;
}

.col-6{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape{
    background-color: #D22727;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fundoblack{
    background-color: #EFEFEF;
    margin: 20px 20px;
}

#baixo{
    display: block;
    padding: 30px 45px;
    float: left;
}

.rodape .container .grid .row .col-4{
    padding: 30px 45px;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.rodape .container .grid .row .col-4 li{
    display: flex;
    align-items: center;
    justify-content: center;
}


.rodape{
    color:#efefefe7
}

.opiniao .opiniao-text{
padding: 40px 40px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 54px;
text-align: center;

/* Dark */

color: #0F241D;
}

#cardlolo {
    width: 506px;
    height: 347px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    background-color: #FFFFFF;
    display: flex;
}

.opiniao{display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 40px;
    padding-bottom: 100;
    background-color: #EFEFEF;
}

#reconhecimentololo{
    display: flex;
    align-items: center;
    justify-content: center;

}

#musica{
    padding: 10px 10px;
}

#foto-lolo{
    border-radius: 4%;
}

#pessoa-user{
    display: flex;
    padding-bottom: 15px;
}

#pessoa-user p{
    padding-top: 0px;
    padding-left: 5px;
}

.custom-shape-divider-top-1684197315 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1684197315 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    background-color: #F9F9F9;
}


.custom-shape-divider-top-1684197315 .shape-fill {
    fill: #D22727;
}

.infor{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F9;
    padding: 7rem 2rem;
}

.infor .row .grid .col-4{
    display: inline-block;
    width: 33%;
    align-items: center;
    text-align: center;
}

.preco{
    background-color: #1E181C;
    padding-top: 4rem
}

.preco .backfoto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0;

}

.preco .backfoto .part2preco img{
    justify-content: flex-end;
    margin: 0 0 0 0;
}

.preco .backfoto .part1preco{
    width: 50%;
}

.preco .backfoto .part2preco h1,h2{
    text-align: end;
    margin-right: 4rem;
    
}

#textproforma{
    display: flex;
}

#redtext{
    font-weight: bolder;
    color: #FFFFFF;
    font-size: 6rem;
    margin: 0 0 0 0;
}

#textomini{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 4rem;

}

#textoimpo{
    font-weight: bolder;
    color: #D22727;
    font-size: 6rem;
    margin: 0 0 0 0;

}

.preco .backfoto .part2preco{
    width: 50%;
    justify-content: flex-end;
    display: block;

}




@media only screen and (max-width: 1200px ) {
    .part1 {
        display: block;
        align-items: center;
        justify-content: center;
    }
    
    .part1 .sobre-img img{
        width: 220%;
    }

    .part1 .sobre-img{
        align-items: center;   
    }
    
    .part1 .sobre-text{
        text-align: center ;
        width: 100%;
    }
    .black-container{
        background-color: black;
        align-items: center;
    }
    .black-container .container .regras .grid .row .col-4{
        display: block;
        width: 100%;
       
    }
    .black-container img{
        margin: auto;
        align-items: center;
        justify-content: center;
        display: block;
        width: auto;

    }
    .container-red{
        align-items: center;
    
    }
    .container-red .container .alvo .grid .row .col-3{
        display: block;
        width: 100%;
       
    }
    .container-red .container .alvo .grid .row .col-3 .card-peso{
        margin: auto;
        align-items: center;
        justify-content: center;
        display: block;
        width: 90%;
        margin-top: 15px ;
    }
    .preco{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .preco .backfoto .part1preco img{
        display: none;
        visibility: hidden;
    }
    .preco .backfoto .part2preco{
        width: 100%;
        display: block;
        align-items: center;
        justify-content: center;
    }
    .preco .backfoto .part2preco img{
        justify-content: center;
    }

    }

    @media only screen and (max-width: 830px) {
        .equipe{
           align-items: center;
           display: flex;
           justify-content: center;
        }
    
        .equipe .container .equipe-text{
            width: 100%;
        }
    
        .equipe .container .grid .row .col-6{
            width: 100%;
        }
    }

    @media only screen and (max-width: 1031px){
        .infor{
            text-align: center;
        }
        .infor .container-infor .row .grid .col-4{
            display: block;
            width: 100%;
        }
    }

    @media only screen and (max-width:773px){
        .rodape{
            display: block;
        }

        .rodape .container .grid .row .col-4{
            width: 100%;
        }
    }